/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Media querie movil*/
@media screen and (max-width: 767px){
  body{
    background-color: #8C1F66;  
  }
}

/*Media querie tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
  body{
    background-color: #33A6A6;
  }
  
}

/*Media querie Desktop*/
@media screen and (min-width: 1024px){
  body{
    background-color: #F25041;
  }
}

/* ******************************** */
